.ting-object.view-mode-full .watch-button {
  background-color: #000;
  color: #fff;
}

.ting-object.view-mode-full .watch-button, .ting-object.view-mode-full .watch-trailer-button {
  text-decoration: none;
}

.redia-film-checkout p {
  margin-bottom: 10px;
}

.redia-film-checkout a {
  margin-right: 10px;
}

.redia-film-item {
  display: flex;
  margin-bottom: 15px;
  padding: 15px;
}

.material-item.redia-film-item {
  padding: 20px;
}

.redia-film-object-cover {
  width: 20%;
  margin-right: 20px;
}

.material-item .redia-film-object-cover .ting-cover {
  padding-left: 0px;
}

.redia-film-object-content {
  width: 47%;
  display: flex;
  flex-direction: column;
}

.redia-film-object-actions {
  width: 30%;
}

.redia-film-object-actions .watch-button {
  background-color: #000;
  color: #fff;
}

.redia-film-loan-status {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-top: 20px;
}

.redia-film-trailer {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
  height: 90vh;
}

.popupbar #popupbar-ding_redia_film {
	padding: 40px 0 20px;
}

.redia-film-status {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 30px;
  text-align: center;
  background-color: #e5e5e5;
}
.redia-film-status canvas {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 104px; /* Need a specific value to work */
}
.redia-film-status-chart {
	display: inline-block;
	line-height: 110px;
	font-family: FaktPro-SemiBold, sans-serif;
	font-size: 36px;
}

.redia-film-status-max-loans {
	margin-top: 20px;
  margin-bottom: 20px;
}

.redia-film-status-title {
	margin-bottom: 20px;
}

.redia-film-next-loan {
  border-top: 1px solid rgba(38, 38, 38, .2);
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.redia-film-next-dates-container {
	display: flex;
	flex-direction: column;
  justify-content: space-between;
}

.redia-film-next-diff {
	display: flex;
	justify-content: space-around;
  margin-bottom: 10px;
}

.redia-film-next-diff-date {
  font-family: FaktPro-SemiBold, sans-serif;
	font-size: 24px;
  margin-bottom: 5px;
}

.redia-film-next-date {
  font-family: FaktPro-SemiBold, sans-serif;
	font-size: 14px;
	padding: 0 10px;
  color: #808080;;
}

@media screen and (max-width: 950px) {
  .redia-film-next-loan {
    flex-direction: column;
  }

  .redia-film-next-text {
    margin-bottom: 20px;
  }

  .redia-film-next-diff {
    justify-content: center;
  }

  .redia-film-next-diff-element {
    padding: 0 12px;
  }
}

/** Removing cookie*/
.page-film-libry-watch #Coi-Renew {
  display: none !important;
}

/** Devel code. Removing freescout icon */
#fsw-btn {
	display: none;
}
